<!doctype html>
<html lang="pt_br" ng-app="hotMilhasApp">
	<head>
	    <meta charset="utf-8">

	    <meta http-equiv="X-UA-Compatible" content="IE=edge">

	    <meta name="description" content="Projeto de teste para recrutamento da HotMilhas">
	    <meta name="viewport" 	 content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

	    <title>Projeto de teste para recrutamento da HotMilhas</title>

	    <!-- Add to homescreen for Chrome on Android -->
	    <meta name="mobile-web-app-capable" content="yes">
	    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

	    <!-- Add to homescreen for Safari on iOS -->
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
	    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

	    <!-- Tile icon for Win8 (144x144 + tile color) -->
	    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
	    <meta name="msapplication-TileColor" content="#3372DF">

	    <link rel="shortcut icon" href="images/favicon.png">

		<!-- Material Deisgn Lite -->
	    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
	    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
	    <link rel="stylesheet" href="//code.getmdl.io/1.3.0/material.cyan-light_blue.min.css">

	    <link rel="stylesheet" href="styles.css">

		<!-- Usando ng-cloak para não mostrar o toast enquanto o Angular compila -->
	    <style>
			[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
			  display: none !important;
			}
	    </style>
	</head>
	<body ng-controller="HomeController as vm" ng-cloak class="ng-cloak">
		<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--no-drawer mdl-layout--fixed-header">

			<!-- Header  -->

		    <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
		        <div class="mdl-layout__header-row">
		            <span class="mdl-layout-title">Home</span>
		        </div>
		    </header>

			<!-- Form para configurar o Toast -->

		    <main class="mdl-layout__content mdl-color--grey-100">
		        <div class="mdl-grid demo-content">

		            <div class="mdl-card mdl-shadow--6dp">
		                <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
		                    <h2 class="mdl-card__title-text">Configure o Toast</h2>
		                </div>
		                <div class="mdl-card__supporting-text">
		                    <form>
		                        <div class="mdl-textfield mdl-js-textfield">
		                            <input ng-model="vm.time" class="mdl-textfield__input" type="number" id="time"/>
		                            <label class="mdl-textfield__label" for="time">Entre com o tempo (segundos)</label>

		                        </div>
		                        <div class="mdl-textfield mdl-js-textfield">
		                            <input ng-model="vm.message" class="mdl-textfield__input" type="text" id="message"/>
		                            <label class="mdl-textfield__label" for="message">Digite a mensagem</label>
		                        </div>
		                    </form>
		                </div>

		                <div class="mdl-card__actions">
		                    <button ng-click="vm.mostrarToast()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="button">Mostrar</button>
		                </div>
		            </div>

		        </div>

				<div class="mdl-card__supporting-text">
					<h6>Última mensagem: {{vm.ultimaResposta}}</h6>
				</div>
		    </main>

		    <!-- Bloco html onde será exibido a mensagem -->

		    <footer ng-show="vm.activeShow" ng-click="vm.clickNoToast()" class="fadein fadeout mdl-mini-footer mdl-animation hotmilha-animation">
		        <div class="mdl-mini-footer__left-section">
		            <div class="mdl-grid mdl_box_mb">
		                <div class="txt_message">
		                    <p>{{vm.mensagemAtual}}</p>
		                </div>

		                <div class="txt_button_action_ok">
		                    <button ng-click="vm.clickBotaoFechar()" type="button" style="float: right !important;" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Fechar</button>
		                </div>
		            </div>
		        </div>
		    </footer>
		</div>

		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="//code.getmdl.io/1.3.0/material.min.js"></script>

		<script src="app/app.js"></script>
		<script src="app/scripts/controllers/HomeController.js"></script>
	</body>
</html>
